:root{
     --spacing:11px;
     --blur:5px;
     --base:#8aa8af;
}
/* 这个伪元素匹配的是文档的根元素，也就是 <html> 标签。 */
/* 声明全局变量css */
/* --是css3的新特性 */
img{
    padding:var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    /* 引用这些变量 */
}
.h1{
    color: var(--base);
}

body{
    text-align: center;
}

body{
    background:#193549;
    color: white;
    font-family: 'helvetica',sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}
.controls{
    margin-bottom: 1em;
}
input{
    width:100px;
}